.friends{
  margin-top: 50px;
  margin-bottom: 50px;
}
.friendsList{
 display: flex;
 justify-content: center;
 gap: 8px;
}

.friendsItem{
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
