.table {
  width: 480px;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}

.thead {
  background-color: #2d2d2d; 
  color: white;
}

.td:first-child{
  text-align: left;
  text-transform: capitalize ;
  padding-left: 30px;
}

.th, .td {
  text-align: center;
  border: 1px solid black;
}

.tr:nth-child(even) {
  background-color: #d3d3d3; 
}

.tr:nth-child(odd) {
  background-color: white; 
}
